.modalAlert {
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.522);
  display: flex;
  justify-content: center;
  align-items: center;
}

.msj {
  width: min(80%, 500px);
  border-radius: var(--radius);
  color: var(--clr-danger);
  font-weight: var(--semibold);
  padding: 40px 0;
  text-align: center;
  background-color: var(--clr-text);
}
